<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estoque_ai | Cadastro</title>
</head>
<body>
    <h2>Cadastro</h2>
    <form>
      <div>
        <label for="nome">Nome: 
          <input type="text" id="nome-input" name="nome" placeholder="Digite seu nome completo" required>
        </label>
      </div>
      <div>
        <label for="matricula">Matrícula: 
          <input type="text" id="matricula-input" name="matricula" placeholder="Digite sua matrícula" required>
        </label>
      </div>
      <div>
        <label for="email">Email: 
          <input type="email" id="email-input" name="email" placeholder="seu_email@exemplo.com" required>
        </label>
      </div>
      <div>
        <label for="email">Senha: 
          <input type="password" id="senha-input" name="senha" placeholder="**********" required>
        </label>
      </div>
      <button id="submit-btn" type="submit">Cadastrar</button>
    </form>
    <script src="js/cadastro.js"></script>
</body>
</html>
