<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Estoca_ai</title>
</head>
<body>
  <h1>Bem-vindo à API CRUD com Flask do Estoca_ai</h1>
  <p>Esta api permite que você execute um CRUD simples (Create, Read, Update, Delete)</p>
  <p>Rotas disponíveis: </p>
    <ul>
      <li>POST /perfil</a></li> 
      <li>GET /perfis</li>
      <li>GET /perfil/{id}</li>
      <li>PUT /perfil/{id}</li>
      <li>DELETE /perfil/{id}</li>
    </ul>
</body>
</html>
